* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Girloy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Girloy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Girloy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Girloy", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  padding: 15px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  border-radius: 4px;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

.btn__primary {
  background: #398BFF;
  border: 3px solid rgba(44, 130, 253, 0.2);
}

.btn__primary:hover {
  background: #2966bb;
}

.btn__secondly {
  color: #398BFF;
  background: rgba(44, 130, 253, 0.15);
  padding: 18px 22px;
}

.btn__secondly:hover {
  background: rgba(44, 131, 253, 0.5);
}

.section__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #001731;
}

.header {
  position: relative;
  height: 900px;
  background: #001731;
  background-image: url("../img/header/round.svg");
  background-position: 70% 100%;
  background-repeat: no-repeat;
}

.header__top.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px;
}

.navbar__controllers {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__controllers .navbar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__controllers .navbar__btns .navbar__btn {
  padding: 8px 12px;
  font-size: 13px;
}

.navbar__controllers .navbar__btns .navbar__btn.btn__primary {
  padding: 5px 12px;
}

.logo a {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-left: 25px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  font-family: "Girloy", sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #ffffff;
  opacity: 0.7;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.menu__item-link:hover {
  opacity: 1;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.select {
  width: 74px;
  position: relative;
  margin-right: 25px;
  z-index: 1;
}

.select__backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: -1;
  display: none;
}

.select.open .select__dropdown {
  display: block;
  z-index: 5;
}

.select.open .select__backdrop {
  display: block;
}

.select__input {
  border: 1px solid #252241;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  cursor: pointer;
  display: flex;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  color: #fbfcff;
}

.select__input .select__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.select__input .select__arrow {
  pointer-events: none;
  margin-left: auto;
  width: 10px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  -o-transition: 0.3s transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
}

.select__input .select__arrow.open {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__input span {
  pointer-events: none;
}

.select__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 5;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14);
  border-radius: 0 0 10px 10px;
}

.select__dropdown .select__list .select__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-style: normal;
  font-size: 16px;
  color: #000000;
}

.select__dropdown .select__list .select__item .select__img {
  border-radius: 50%;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.select__dropdown .select__list .select__item.selected {
  background-color: #252241;
  color: #fbfcff;
}

.select__dropdown .select__list .select__item:hover {
  background-color: #252241;
  color: #fbfcff;
  -webkit-transition: 0.15 background-color ease-in;
  -o-transition: 0.15 background-color ease-in;
  transition: 0.15 background-color ease-in;
}

.header__main {
  margin-top: 106px;
  margin-right: auto;
  max-width: 715px;
}

.header__title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 72px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.header__btns {
  margin-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btns .header__btn-text {
  font-size: 20px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.35);
}

.header__text {
  max-width: 533px;
  font-size: 22px;
  line-height: 145%;
  color: #AAC0E0;
}

.header .header__screen-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header .header__screen-img img {
  width: 660px;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 112px;
}

.video__item.video__left-item {
  background-color: #398BFF;
  border-radius: 12px;
  position: relative;
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}

.video__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video__item-name {
  margin-right: -116px;
  margin-top: 80px;
  margin-left: 80px;
  width: 425px;
  font-size: 16px;
  line-height: 95%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
  z-index: 2;
}

.video__item-name span {
  font-weight: 900;
  display: block;
  font-size: 60px;
  line-height: 110%;
}

.video__item-img {
  margin-top: 100px;
}

.video__item-play {
  position: absolute;
  top: 48%;
  left: 43%;
}

.video__rigth-item {
  color: #001731;
  margin-top: 50px;
}

.video__item-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: -0.03em;
  margin-bottom: 17px;
}

.video__item-text {
  font-size: 16px;
  line-height: 175%;
  opacity: 0.75;
}

.video__item-text:not(:last-child) {
  margin-bottom: 35px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item:first-child {
  max-width: 475px;
}

.features__item-icon {
  margin-bottom: 24px;
}

.features__title {
  margin-bottom: 24px;
}

.features .accordion {
  margin-bottom: 35px;
}

.features .accordion .accordion__item {
  margin-bottom: 14px;
  -webkit-box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
          box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
  border-radius: 6px;
}

.features .accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  padding: 24px 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.features .accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #001731;
}

.features .accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
}

.features .accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.features .accordion .accordion__item.accordion__item-active .accordion__item-trigger svg rect {
  fill-opacity: 1;
}

.features .accordion .accordion__item .accordion__item-content {
  padding-bottom: 20px;
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}

.features .accordion .accordion__item .accordion__item-content .content__text {
  margin: 0 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  letter-spacing: 0.02em;
  color: rgba(0, 23, 49, 0.55);
}

.features__item-img {
  max-width: 683px;
}

.features__card {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
  border-radius: 12px;
}

.features__card-info {
  color: #001731;
}

.features__card-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 145%;
  opacity: 0.75;
}

.features__card-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #001731;
}

.features__btn span {
  font-weight: 400;
}

.section__pricing {
  margin-top: 117px;
}

.pricing__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pricing__head .pricing__title {
  margin-bottom: 5px;
}

.pricing__head .pricing__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: rgba(0, 23, 49, 0.55);
}

.pricing__head .pricing__switcher {
  padding: 20px 30px;
  background: #F7F7F7;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 282px;
          flex: 0 0 282px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.pricing__head .pricing__switcher-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(0, 23, 49, 0.55);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.pricing__head .pricing__switcher-text.active {
  color: #398BFF;
}

.pricing__head .pricing__switcher-switch {
  width: 42px;
  height: 24px;
  border-radius: 100px;
  background-color: #398BFF;
  position: relative;
  cursor: pointer;
}

.pricing__head .pricing__switcher-switch .pricing__switch-round {
  position: absolute;
  top: 2.6px;
  bottom: 2.4px;
  left: 2.4px;
  width: 19px;
  height: 19px;
  background-color: #FFFFFF;
  border-radius: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing__head .pricing__switcher-switch .pricing__switch-round.active {
  left: 20px;
}

.pricing__main {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.pricing__main-item {
  padding: 28px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(10, 17, 85, 0.1);
          box-shadow: 0px 4px 15px rgba(10, 17, 85, 0.1);
  border-radius: 12px;
  max-width: 407px;
}

.pricing__main-item.dark {
  background: #031E3E;
  position: relative;
}

.pricing__main-item.dark::after {
  content: "";
  position: absolute;
  top: 23px;
  right: -34px;
  background-image: url("../img/pricing-lable.svg");
  width: 166px;
  height: 37px;
}

.pricing__main-item.dark .pricing__main-name {
  text-transform: uppercase;
}

.pricing__main-item.dark .pricing__main-name span {
  margin-left: 10px;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
  border-radius: 4px;
}

.pricing__main-item.dark .pricing__main-curentprice {
  color: #FFFFFF;
}

.pricing__main-item.dark .pricing__main-curentprice span {
  color: #FFFFFF;
}

.pricing__main-item.dark .pricing__main-year {
  color: #FFFFFF;
}

.pricing__main-item.dark .pricing__main-text {
  color: #FFFFFF;
}

.pricing__main-item.dark .pricing__list-item .pricing__item-name {
  color: #FFFFFF;
}

.pricing__main-item.dark .pricing__list-item.active svg path {
  stroke-opacity: 0.3;
}

.pricing__main-item.dark .pricing__list-item.active .pricing__item-left .pricing__item-name {
  color: #8b8b8b;
}

.pricing__main-item.dark .pricing__list-item.active .pricing__item-left svg {
  fill-opacity: 0.5;
}

.pricing__main-item.dark .pricing__list-item.active .pricing__item-left svg path {
  fill-opacity: 0.4;
  stroke-opacity: 0.4;
}

.pricing__main-name {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #398BFF;
}

.pricing__main-name.rigth {
  margin-bottom: 60px;
}

.pricing__main-name span {
  margin-left: 22px;
  padding: 5px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #F04747;
  background: rgba(240, 71, 71, 0.1);
  border-radius: 4px;
}

.pricing__main-oldprice {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #F04747;
}

.pricing__main-curentprice {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
          font-feature-settings: "tnum" on, "lnum" on;
  color: #001731;
}

.pricing__main-curentprice span {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 23, 49, 0.55);
}

.pricing__main-year {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: rgba(0, 23, 49, 0.55);
}

.pricing__main-text {
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #6A6A6A;
}

.pricing__main-btn {
  margin-bottom: 48px;
  display: block;
  text-align: center;
}

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.pricing__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__list-item.active svg path {
  stroke-opacity: 0.1;
}

.pricing__list-item.active .pricing__item-left .pricing__item-name {
  color: rgba(0, 23, 49, 0.3);
}

.pricing__list-item.active .pricing__item-left svg {
  fill-opacity: 0.4;
}

.pricing__list-item.active .pricing__item-left svg path {
  fill-opacity: 0.4;
  stroke-opacity: 0.4;
}

.pricing__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.pricing__item-name {
  max-width: 260px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 23, 49, 0.55);
}

.section__learn {
  margin-top: 108px;
  padding-top: 75px;
  background: #031E3E;
}

.learn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

.learn__item-info {
  max-width: 568px;
}

.learn__icon {
  margin-bottom: 24px;
}

.learn__title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.learn__text {
  font-size: 20px;
  line-height: 145%;
  color: #AAC0E0;
  margin-bottom: 50px;
}

.section__reviews {
  padding: 108px 0;
  background: #F6F7FB;
}

.reviews__head {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__head-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #398BFF;
}

.reviews__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
}

.reviews__item {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 407px;
          flex: 0 1 407px;
  -webkit-box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
          box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
  border-radius: 12px;
}

.reviews__item-top {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.reviews__item-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #001731;
}

.reviews__item-name span {
  margin-top: 8px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: rgba(0, 23, 49, 0.3);
}

.reviews__text {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #001731;
  opacity: 0.75;
}

.reviews__item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__bottom-time {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: rgba(0, 23, 49, 0.3);
}

.section__question {
  padding-top: 70px;
  padding-bottom: 100px;
}

.question__icon {
  margin-bottom: 24px;
}

.question__title {
  margin-bottom: 60px;
}

.question__text {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 165%;
  color: #737F8E;
}

.question__text a {
  color: #398BFF;
  text-decoration: underline;
}

.question .accordion .accordion__item {
  border: 1px solid #E5E5E5;
  border-radius: 12px;
}

.question .accordion .accordion__item:not(:last-child) {
  margin-bottom: 16px;
}

.question .accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.question .accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #001731;
  margin-right: 20px;
}

.question .accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
  margin-left: auto;
}

.question .accordion .accordion__item .accordion__item-trigger .trigger__img .trigger__line-1 {
  display: block;
  width: 16px;
  height: 2px;
  background: black;
  border-radius: 100px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.question .accordion .accordion__item .accordion__item-trigger .trigger__img .trigger__line-2 {
  display: block;
  width: 16px;
  height: 2px;
  background: black;
  margin-top: -2px;
  border-radius: 100px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.question .accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.question .accordion .accordion__item.accordion__item-active .trigger__line-2 {
  -webkit-transform: rotate(0) !important;
      -ms-transform: rotate(0) !important;
          transform: rotate(0) !important;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.question .accordion .accordion__item.accordion__item-active .trigger__line-1 {
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.question .accordion .accordion__item .accordion__item-content {
  padding: 0 20px;
  padding-bottom: 20px;
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}

.question .accordion .accordion__item .accordion__item-content .content__text {
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #001731;
}

.question .accordion .accordion__item .accordion__item-content .content__text:first-child {
  margin-top: 0;
}

footer {
  padding-top: 54px;
  padding-bottom: 24px;
  background-color: #031E3E;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__left {
  margin-left: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 130px;
}

.footer__item-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.footer__list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.8;
  color: #FFFFFF;
  position: relative;
}

.footer__list-link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__list-link:hover {
  opacity: 1;
}

.footer__list-link:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__rigth {
  max-width: 388px;
}

.footer__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__form {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  color: #031E3E;
  outline: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.footer__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #CCCCCC;
}

.footer__input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #CCCCCC;
}

.footer__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #CCCCCC;
}

.footer__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #CCCCCC;
}

.footer__input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #CCCCCC;
}

.footer__btn {
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
}

.footer__bottom {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-text {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.7;
}

.footer__bottom-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 1160px;
  }

  .header__main {
    margin-top: 40px;
  }

  .header__title {
    font-size: 68px;
    margin-bottom: 24px;
  }

  .header__btns {
    margin-bottom: 20px;
  }

  .header__text {
    font-size: 20px;
  }

  .header .header__screen-img img {
    width: 560px;
  }

  .video {
    gap: 50px;
  }

  .video__item-name {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: -190px;
  }

  .video__item-img {
    margin-top: 60px;
  }

  .features__item:first-child {
    max-width: 415px;
  }

  .features__item-img {
    max-width: 100%;
  }

  .pricing__main-item.dark::after {
    display: none;
  }

  .learn__item-img {
    max-width: 100%;
  }

  .learn__item-info {
    max-width: 408px;
  }

  .learn__title {
    font-size: 38px;
  }

  .learn__text {
    font-size: 16px;
    margin-bottom: 45px;
  }

  .reviews__main {
    gap: 15px;
  }

  .reviews__item {
    padding: 20px;
  }

  .footer__left {
    margin-left: 0;
    gap: 90px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .btn {
    font-size: 16px;
    padding: 11px 20px;
  }

  .btn__secondly {
    padding: 14px 20px;
  }

  .header__main {
    max-width: 500px;
  }

  .header__title {
    font-size: 54px;
  }

  .video__item.video__left-item {
    -webkit-transform: translateY(-45px);
        -ms-transform: translateY(-45px);
            transform: translateY(-45px);
  }

  .video__item-name {
    width: 330px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: -225px;
  }

  .video__item-name span {
    font-size: 45px;
  }

  .video__item-img {
    width: 250px;
    margin-top: 65px;
  }

  .video__rigth-item {
    margin-top: 30px;
  }

  .video__item-title {
    margin-bottom: 12px;
  }

  .video__item-text:not(:last-child) {
    margin-bottom: 5px;
  }

  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features__item:first-child {
    max-width: 100%;
  }

  .pricing__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .pricing__main-item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section__learn {
    margin-top: 70px;
    padding-top: 60px;
  }

  .learn__icon {
    margin-bottom: 12px;
    width: 25px;
    height: 25px;
  }

  .learn__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .learn__text {
    font-size: 14px;
    margin-bottom: 26px;
  }

  .section__reviews {
    padding: 80px 0;
  }

  .reviews__main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .reviews__item {
    padding: 32px;
  }

  .reviews__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .reviews__item:last-child {
    grid-column-start: unset;
    grid-column-end: unset;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .btn {
    padding: 9px 16px;
  }

  .btn__secondly {
    padding: 12px 16px;
  }

  .section__title {
    font-size: 34px;
  }

  .navbar__controllers .navbar__btns {
    display: none;
  }

  .navbar__controllers .navbar__btns.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 0;
    gap: 20px;
    z-index: 10;
    width: 100%;
  }

  .navbar__controllers .navbar__btns.active .navbar__btn {
    padding: 16px 12px;
    font-size: 18px;
    color: #fbfcff;
    width: 90%;
    background-color: #001731;
    border: none;
    border-radius: 15px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .navbar__controllers .navbar__btns.active .navbar__btn:hover {
    background-color: #00326b;
  }

  .menu {
    margin-left: 0;
    gap: 60px;
  }

  .menu {
    gap: 40px;
  }

  .menu__item-link {
    font-size: 24px;
  }

  .header__title {
    font-size: 46px;
    margin-bottom: 26px;
  }

  .header__text {
    font-size: 18px;
  }

  .header .header__screen-img img {
    width: 465px;
  }

  .video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }

  .video__item.video__left-item {
    -webkit-transform: translateY(-35px);
        -ms-transform: translateY(-35px);
            transform: translateY(-35px);
  }

  .video__item-play {
    top: 45%;
  }

  .video__rigth-item {
    margin-top: 15px;
  }

  .video__item-text:not(:last-child) {
    margin-bottom: 15px;
  }

  .section__features {
    padding-top: 40px;
  }

  .section__pricing {
    margin-top: 50px;
  }

  .pricing__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }

  .pricing__head .pricing__switcher {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .pricing__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pricing__main-item {
    max-width: 100%;
  }

  .learn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }

  .learn__item-img {
    display: block;
    margin: 0 auto;
  }

  .section__reviews {
    padding: 60px 0;
  }

  .reviews__main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .section__question {
    padding: 50px 0;
  }

  .question__title {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .question__text {
    font-size: 18px;
  }

  .question .accordion .accordion__item .accordion__item-trigger {
    padding: 18px;
  }

  .question .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 20px;
  }

  .question .accordion .accordion__item .accordion__item-content {
    padding: 0 10px 10px 10px;
  }

  .question .accordion .accordion__item .accordion__item-content .content__text {
    font-size: 16px;
  }

  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__left {
    width: 100%;
    gap: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .navbar__controllers .navbar__btns.active .navbar__btn {
    font-size: 16px;
    padding: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu {
    position: fixed;
    background: #398BFF;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #fefefe;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #fefefe;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fefefe;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #fefefe;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .btn {
    font-size: 14px;
    padding: 7px 12px;
  }

  .btn__secondly {
    padding: 10px 12px;
  }

  .header {
    height: 720px;
  }

  .header__title {
    font-size: 30px;
  }

  .header__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }

  .header__text {
    font-size: 12px;
  }

  .header .header__screen-img img {
    width: 315px;
  }

  .video__item-name {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 9px;
  }

  .video__item-name span {
    font-size: 24px;
    margin-top: 10px;
  }

  .video__item-img {
    margin-top: -20px;
  }

  .video__item-play {
    top: 43%;
  }

  .features__item-icon {
    margin-bottom: 10px;
  }

  .features__title {
    margin-bottom: 15px;
  }

  .features .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 16px;
  }

  .features .accordion .accordion__item .accordion__item-content .content__text {
    font-size: 14px;
    line-height: 150%;
  }

  .features__card {
    margin-bottom: 30px;
  }

  .features__card-text {
    font-size: 12px;
    line-height: 110%;
  }

  .pricing__head .pricing__subtitle {
    font-size: 16px;
  }

  .pricing__head .pricing__switcher {
    padding: 14px 16px;
  }

  .pricing__main-oldprice {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .pricing__main-curentprice {
    font-size: 25px;
    line-height: 30px;
  }

  .pricing__main-text {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .pricing__main-btn {
    margin-bottom: 20px;
  }

  .pricing__list {
    gap: 20px;
  }

  .pricing__list-item svg {
    width: 20px;
    height: 20px;
  }

  .pricing__list-item .pricing__item-left svg {
    width: 40px;
    height: 40px;
  }

  .pricing__item-name {
    font-size: 12px;
    line-height: 15px;
    max-width: 130px;
  }

  .section__learn {
    margin-top: 40px;
    padding-top: 35px;
  }

  .section__reviews {
    padding: 40px 0;
  }

  .reviews__head {
    margin-bottom: 30px;
  }

  .reviews__title {
    font-size: 30px;
  }

  .reviews__head-link {
    font-size: 14px;
  }

  .reviews__item {
    padding: 18px;
  }

  .reviews__item-name {
    font-size: 16px;
  }

  .reviews__item-name span {
    font-size: 12px;
  }

  .reviews__text {
    font-size: 13px;
  }

  .reviews__bottom-time {
    font-size: 12px;
  }

  .section__question {
    padding: 30px 0;
  }

  .question__icon {
    width: 24px;
    margin-bottom: 12px;
  }

  .question__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .question__text {
    font-size: 14px;
    margin-top: 15px;
  }

  .question .accordion .accordion__item .accordion__item-trigger {
    padding: 12px;
  }

  .question .accordion .accordion__item .accordion__item-trigger .trigger__text {
    font-size: 16px;
    line-height: 24px;
  }

  .question .accordion .accordion__item .accordion__item-content .content__text {
    font-size: 13px;
  }

  footer {
    padding-top: 30px;
  }

  .footer {
    gap: 25px;
  }

  .footer__left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer__list {
    gap: 10px;
  }

  .footer__list-link {
    font-size: 12px;
  }

  .footer__item-text {
    font-size: 12px;
  }

  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__input {
    padding: 10px;
    font-size: 14px;
  }

  .footer__input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .footer__input::-moz-placeholder {
    font-size: 12px;
  }

  .footer__input:-ms-input-placeholder {
    font-size: 12px;
  }

  .footer__input::-ms-input-placeholder {
    font-size: 12px;
  }

  .footer__input::placeholder {
    font-size: 12px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }
}